---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Podcast from '../components/Podcast.astro';
import OpenSource from '../components/OpenSource.astro';
import Blog from '../components/Blog.astro';
import Transparence from '../components/Transparence.astro';
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Collectif Pixel - La tech vue par la nouvelle génération">
  <main>
    <Hero />
    <Podcast />
    <OpenSource />
    <Blog />
    <Transparence />
    <About />
  </main>
  <Footer />
</Layout>
